@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

#text {
  font-family: 'Gochi Hand', cursive;
}

.text-white {
  color: white;
}

.text-black {
  color: black;
}


#arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  padding: 3px;
  display: inline-block;
}